/* Webfont: iranyekanweblight */
@font-face {
	font-family: 'iranyekanweblight';
	src: url('iranyekanweblight.eot');
	/* IE9 Compat Modes */
	src: url('iranyekanweblight.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('iranyekanweblight.woff2') format('woff2'),
		/* Modern Browsers */
		url('iranyekanweblight.woff') format('woff'),
		/* Open Type Font */
		url('iranyekanweblight.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}